*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background: linear-gradient(270deg, #87EFF6 0%, #FFFFFF 100%);

}
header{
    display:flex;
    justify-content: space-between;
    padding: 40px 80px;

    & .navbar ul{
        display:flex;
        gap:50px;   /* espacamento entre os intens */


        & .li a{
            color: black;
        }
    }
}
main {
    padding: 40px 80px;

    & .home{
        display:flex;  /* deixa um filho do lado do outro */
        justify-content: space-between;
align-items: center;



        & .lado-esquerdo{
            display: flex;
            flex-direction: column;
            gap: 58px;

            & .content {
                display:flex;
                flex-direction: column;
                gap: 16px;


            & p:first-child{
                color: red;
                font-size: 24px;
                font-weight: 600px;

                & p:last-child{
font-size: 18px;
                }

                & h1{
                   font-size: 40px;
                   line-height: 60px;

                }
            }
            }
            & .btns{
                display: flex;
                gap: 16px;


                & button{
                    padding: 14px 20px;
                    border-radius: 16px;
                    border: none;
                    background-color: #87EFF6;
                    font-size: 18pc;
                    font-weight: 700px;
                }
                & button:last-child{
                    background: transparent;
                    border: 2px solid;
                }
            }
        }
    }
}